@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 255, 254, 253;
  --secondary: 17, 15, 16;
  --highlight: 255, 255, 255;
}

@layer base {
  * {
    @apply transition-colors 
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
